.channels {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 24px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 1200px) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &__total {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #fff;
  }
}
