<div class="container">
  <header class="header">
    <ul class="header__tabs tabs">
      <li class="tabs__item"><a routerLink="/first" routerLinkActive="active" class="tabs__link">First</a></li>
      <li class="tabs__item"><a routerLink="/second" routerLinkActive="active" class="tabs__link">Second</a></li>
      <li class="tabs__item"><a routerLink="/channels" routerLinkActive="active" class="tabs__link">Телеканалы</a></li>
    </ul>
    <div class="header__filters filters">
      <select class="filters__item select"  (change)="onSortChange($event.target.value)">
        <option value="default">По умолчанию</option>
        <option value="asc">По возрастанию</option>
        <option value="desc">По убыванию</option>
      </select>
      <select  class="filters__item select" (change)="onGenreChange($event.target.value)">
        <option value="all">Все телеканалы</option>
        <option *ngFor="let genre of genres" [value]="genre.genreID">{{genre.genreName}}</option>
      </select>
    </div>
  </header>

  <router-outlet></router-outlet>
</div>
