.channel {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px;

  &__image {
    display: block;
    object-fit: contain;
    width: 100%;
    height: auto;
  }
}
